<header class="grid w-full grid-cols-[1fr_auto] gap-3 print:grid-cols-1">
    <section class="grid grid-cols-1 gap-1.5 print:place-items-center">
        <SectionTitle Title="Wilson Souto" />
        <TextElement Title="Software Developer focused on generating value by solving problems and building solutions"
                     AriaLabel="Software Developer focused on generating value by solving problems and building solutions"
                     Type="TextType.Paragraph"
                     Size="TextSize.Base"
                     Width="TextWidth.Medium"
                     VisibleOnPrint="false"
                     HasBackgroundColor="false"
                     IsBold="false"/>
        <span>São Paulo, SP, Brazil</span>
        <nav>
            <ul class="flex flex-wrap gap-1">
                <li>Email</li>
                <li>Cellphone</li>
                <li>Github</li>
                <li>LinkedIn</li>
                <li>Resume</li>
            </ul>
        </nav>
    </section>
    <picture class="flex size-28 h-full shrink-0 items-start overflow-hidden rounded-xl print:hidden">
        <img class="block aspect-square h-full w-full object-cover" src="images/profile.jpeg" alt="Profile picture of Wilson Souto" />
    </picture>
</header>
