@page "/"
@inject IJsonDataService JsonDataService

@if (_profile is not null)
{
    <Header Identity="@_profile.Identity" />
    <main class="flex min-h-0 flex-col gap-10">
        <About Introduction="@_profile.Introduction" />
        <Experience WorkExperiences="@_profile.WorkExperiences" />
    </main>
}
else
{
    <p>Loading...</p>
}


@code {
    private Profile? _profile;

    protected override async Task OnInitializedAsync()
    {
        _profile = await JsonDataService.LoadAsync<Profile>("data/profile.json");
    }
}