@page "/"
@inject HttpClient Http

@if (_profile is not null)
{
    <Header Identity="@_profile.Identity" />
    <main class="flex flex-col gap-10">
        <section class="flex min-h-0 flex-col gap-3">
            <About Introduction="@_profile.Introduction" />
        </section>
    </main>
}
else
{
    <p>Loading...</p>
}


@code {
    private Profile? _profile;

    protected override async Task OnInitializedAsync()
    {
        _profile = await Http.GetFromJsonAsync<Profile>("data/profile.json");
    }
}