@if (Size == TextSize.XXl)
{
    <h1 class=@AddClasses>@Title</h1>
}
else if (Size == TextSize.Xl)
{
    <h2 class=@AddClasses>@Title</h2>
}
else
{
    <h3 class=@AddClasses>@Title</h3>
}

@code {

    [EditorRequired][Parameter] public string Title { get; set; } = string.Empty;
    [EditorRequired][Parameter] public string AriaLabel { get; set; } = string.Empty;
    [EditorRequired][Parameter] public TextSize Size { get; set; }

    [Parameter] public PrintStyle Style { get; set; } = PrintStyle.None;
    [Parameter] public TextColor Color { get; set; } = TextColor.Accent;
    [Parameter] public PrintVisibility Visibility { get; set; } = PrintVisibility.Visible;

    private string AddClasses =>
        $"font-bold print:text-foreground {GetSize()} {GetColor()} {GetStyle()} {GetVisibility()}";

    private string GetSize() => Size switch
    {
        TextSize.Md => "text-base",
        TextSize.Xl => "text-xl",
        TextSize.XXl => "text-2xl",
        _ => throw new ArgumentOutOfRangeException(nameof(Size), Size, "Invalid text size")
    };

    private string GetColor() => Color switch
    {
        TextColor.Accent => "text-accent",
        _ => "text-foreground"
    };

    private string GetStyle() => Style switch
    {
        PrintStyle.Divider =>
            "print:border-b-[1px] print:border-black print:uppercase print:tracking-wider print:text-lg",

        PrintStyle.Header =>
            "print:text-3xl",

        _ => string.Empty
    };

    private string GetVisibility() =>
        Visibility == PrintVisibility.Hidden ? "print:hidden" : "screen:block";

    public enum PrintStyle
    {
        None,
        Divider,
        Header
    }
}
