@inherits BaseComponent;

@if (Type == ElementType.Paragraph)
{
    <p aria-label="@AriaLabel" class="@AddClasses">
        @Title
    </p>
}
else if (Type == ElementType.ListItem)
{
    <li aria-label="@AriaLabel" class="@AddClasses">
        @Title
    </li>
}

@code {
    [EditorRequired][Parameter] public ElementType Type { get; set; }

    [Parameter] public TextSize Size { get; set; } = TextSize.Md;
    [Parameter] public MaxWidth Width { get; set; } = MaxWidth.Full;
    [Parameter] public FontWeight Weight { get; set; } = FontWeight.Normal;
    [Parameter] public TextColor Color { get; set; } = TextColor.Muted;
    [Parameter] public TextContext Context { get; set; } = TextContext.Default;
    [Parameter] public PaddingOption Padding { get; set; } = PaddingOption.None;
    [Parameter] public PrintVisibility Visibility { get; set; } = PrintVisibility.Visible;

    private string AddClasses =>
        $"text-pretty print:text-foreground {GetWidth()} {GetSize()} {GetPadding()} {GetWeight()} {GetVariant()} {GetVisibility()} {GetContext()}";

    private string GetSize() => Size switch
    {
        TextSize.Xs => "text-xs",
        TextSize.Sm => "text-sm",
        TextSize.Md => "text-base",
        _ => throw new ArgumentOutOfRangeException(nameof(Size), Size, "Invalid text size")
    };

    private string GetWidth() => Width switch
    {
        MaxWidth.Md => "max-w-md",
        MaxWidth.Full => "max-w-full",
        _ => "max-w-full"
    };

    private string GetWeight() =>
        Weight == FontWeight.Bold ? "font-bold" : "font-normal";

    private string GetVariant() => Color switch
    {
        TextColor.Highlighted => "border border-transparent bg-neutral-200 rounded-md text-center text-foreground",
        TextColor.Muted => "text-foreground/80",
        _ => "text-foreground",
    };

    private string GetVisibility() =>
        Visibility == PrintVisibility.Hidden ? "print:hidden" : "screen:block";

    private string GetPadding() => Padding switch
    {
        PaddingOption.Sm => "px-1 py-0",
        PaddingOption.Md => "px-2 py-1",
        _ => "p-0"
    };

    private string GetContext() => Context switch
    {
        TextContext.Date => "print:text-sm",
        _ => "print:text-base"
    };

    public enum ElementType
    {
        Paragraph,
        ListItem
    }

    public enum TextColor
    {
        Default,
        Muted,
        Highlighted
    }

    public enum PaddingOption
    {
        None,
        Sm,
        Md
    }

    public enum MaxWidth
    {
        Md,
        Full
    }

    public enum TextContext
    {
        Default,
        Date
    }
}