@inherits LayoutComponentBase

<main class="bg-background font-charis text-foreground relative container mx-auto scroll-my-12 overflow-auto p-4 md:p-16 print:p-0">
    <div class="mx-auto flex w-full max-w-2xl flex-col gap-10">
        @Body
    </div>
</main>
